---
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v3.3.0
      hooks:
          - id: check-added-large-files
          - id: check-builtin-literals
          - id: check-case-conflict
          - id: check-docstring-first
          - id: check-json
          - id: check-merge-conflict
          - id: check-symlinks
          - id: check-toml
          - id: check-vcs-permalinks
          - id: check-xml
          - id: check-yaml
          - id: debug-statements
          - id: detect-private-key
          - id: end-of-file-fixer
          - id: fix-encoding-pragma
          - id: mixed-line-ending
          - id: name-tests-test
          - id: pretty-format-json
          - id: requirements-txt-fixer
          - id: sort-simple-yaml
          - id: trailing-whitespace
    - repo: https://github.com/pre-commit/mirrors-autopep8
      rev: v1.5.4
      hooks:
          - id: autopep8
    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v0.790
      hooks:
          - id: mypy
            additional_dependencies:
                - hypothesis
    - repo: https://github.com/pre-commit/pygrep-hooks
      rev: v1.7.0
      hooks:
          - id: python-check-blanket-noqa
          - id: python-check-mock-methods
          - id: python-no-eval
          - id: python-no-log-warn
          # - id: python-use-type-annotations
          - id: rst-backticks
          - id: rst-inline-touching-normal
          # - id: text-unicode-replacement-char
    - repo: git://github.com/FalconSocial/pre-commit-mirrors-pep257
      rev: v0.3.3
      hooks:
          - id: pep257
    - repo: https://github.com/asottile/add-trailing-comma
      rev: v2.0.1
      hooks:
          - id: add-trailing-comma
    - repo: https://github.com/asottile/pyupgrade
      rev: v2.7.4
      hooks:
          - id: pyupgrade
    - repo: https://github.com/asottile/yesqa
      rev: v1.2.2
      hooks:
          - id: yesqa
    - repo: https://github.com/asottile/blacken-docs
      rev: v1.8.0
      hooks:
          - id: blacken-docs
    - repo: https://github.com/asottile/setup-cfg-fmt
      rev: v1.15.1
      hooks:
          - id: setup-cfg-fmt
    - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
      rev: 0.1.0
      hooks:
          - id: yamlfmt
    - repo: https://github.com/Lucas-C/pre-commit-hooks-markup
      rev: v1.0.0
      hooks:
          - id: rst-linter
    - repo: https://github.com/Lucas-C/pre-commit-hooks-safety
      rev: v1.1.3
      hooks:
          - id: python-safety-dependencies-check
    - repo: git://github.com/detailyang/pre-commit-shell
      rev: 1.0.5
      hooks:
          - id: shell-lint
            args: [--format=json]
    - repo: https://github.com/adrienverge/yamllint
      rev: v1.25.0
      hooks:
          - id: yamllint
            args: [--format, parsable, --strict]
    - repo: https://github.com/psf/black
      rev: 20.8b1
      hooks:
          - id: black
    - repo: https://gitlab.com/pycqa/flake8
      rev: 3.8.4
      hooks:
          - id: flake8
    - repo: https://github.com/pycqa/pydocstyle
      rev: 5.1.1
      hooks:
          - id: pydocstyle
    - repo: https://github.com/pycqa/doc8
      rev: 0.9.0a1
      hooks:
          - id: doc8
    - repo: https://github.com/PyCQA/isort
      rev: 5.6.4
      hooks:
          - id: isort
            args: [-m3, --tc, -l 120]
    - repo: https://github.com/codespell-project/codespell
      rev: v2.0.0
      hooks:
          - id: codespell
    - repo: https://github.com/myint/docformatter
      rev: v1.3.1
      hooks:
          - id: docformatter
            args: [--in-place]
    - repo: https://github.com/myint/autoflake
      rev: v1.4
      hooks:
          - id: autoflake
    - repo: https://github.com/twu/skjold
      rev: v0.1.6
      hooks:
          - id: skjold
    - repo: https://github.com/pappasam/toml-sort
      rev: v0.18.0
      hooks:
          - id: toml-sort
            args: [--in-place]
    - repo: https://github.com/executablebooks/mdformat
      rev: 0.5.3  # Use the ref you want to point at
      hooks:
          - id: mdformat
            additional_dependencies:
                - mdformat-tables
